<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js" charset="UTF-8"></script>

    <title>problema1</title>
</head>
<body>

  <h1>problema1</h1>

<div id="app">

  <!--No se ve en el navegador, eta definido en el template-->
  <p>{{mensaje0}}</p>

</div>

<script>
var vm = new Vue({
  el: '#app',

  data : {
    mensaje0 : 'html',
    mensaje1 : 'template',
    contador : 0
  },

  methods : {
    reinicio : function(){
      this.contador = 0
    }
  },

  template :
  `<div>
    <p>{{mensaje1}}</p>
    <h4>Tiempo : </h4>
    <input type="text" v-model="contador">
    <button type="button" @click="reinicio">reset</button>
   </div>`,
});

// se vera en consola
console.log(vm.$data.mensaje0);

setInterval(()=>{
  vm.contador++
},1000)


</script>
</body>
</html>
