<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js" charset="UTF-8"></script>

    <title>problema2</title>
</head>
<body>

  <h1>problema2</h1>

<div id="app">

  <!--No se ve en el navegador, eta definido en el template-->
  <p>{{mensaje0}}</p>

</div>

<script>
var vm = new Vue({
  el: '#app',

  data : {
    mensaje0 : 'html',
    mensaje1 : 'template',
    a : 23,
    b : 1,
  },


  template :
  `<div>
    <p>{{mensaje1}}</p>

    <input type="number" v-model.number="a">
    <input type="number" v-bind:value.number="b">
    <p>{{a+b}}</p>
   </div>`,
});


</script>
</body>
</html>
