<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js" charset="UTF-8"></script>

    <title>problema3</title>
</head>
<body>

  <h1>problema3</h1>



<div id="app">

  <!--No se ve en el navegador, eta definido en el template-->
  <p>{{mensaje0}}</p>

</div>

<script>
var vm = new Vue({
  el: '#app',

  data : {
    mensaje0 : 'html',
    mensaje1 : 'template',
    estaButton : true,
    estado : true
  },

  methods :{
    // borra el boton
    deleteButton : function () {
      this.estaButton = false
      setTimeout( () =>{
        this.estaButton = true
      },2000)

    },
  },

  template :
  `<div>
    <p>{{mensaje1}}</p>
    <button v-if="estaButton"  @click="deleteButton" >click me</button>
   </div>`,
});


</script>
</body>
</html>
