<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js" charset="UTF-8"></script>

    <title>problema4</title>
</head>
<body>

  <h1>problema4</h1>



<div id="app">

  <!--No se ve en el navegador, eta definido en el template-->
  <p>{{mensaje0}}</p>

</div>

<script>
var vm = new Vue({
  el: '#app',

  data : {
    mensaje0 : 'html',
    mensaje1 : 'template',
    value : '',
  },

  watch : {
    value : function (){
      this.value.length <= 4 ? this.value : this.value = '';
    }
  },

  template :
  `<div>
    <p>{{mensaje1}}</p>
    <input type="text" v-model="value">
   </div>`,
});


</script>
</body>
</html>
