<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js" charset="UTF-8"></script>

    <title>problema5</title>
</head>
<body>

  <h1>problema5</h1>



<div id="app">

  <!--No se ve en el navegador, eta definido en el template-->
  <p>{{mensaje0}}</p>

</div>

<script>
var vm = new Vue({
  el: '#app',

  data : {
    mensaje0 : 'html',
    mensaje1 : 'template',
    estilo :  "",
  },

  template :
  `<div>
    <p>{{mensaje1}}</p>
    <input :style="{'background-color': estilo,'font-size':'25px'}"  v-on:keydown="estilo = '#F0F8FF' " v-on:keyup="estilo = 'coral' "  type="text">
   </div>`,
});

</script>

</body>
</html>
