<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js" charset="UTF-8"></script>

    <title>problema6</title>
</head>
<body>

  <h1>problema6</h1>

<div id="app">

  <!--No se ve en el navegador, eta definido en el template-->
  <p>{{mensaje0}}</p>

</div>

<script>
var vm = new Vue({
  el: '#app',

  data : {
    mensaje0 : 'html',
    mensaje1 : 'template',
    contador : 50
  },


  template :
  `<div>
      <div v-bind:style= "[contador>70 ? {'color':'#DC143C'} : {'color':'#000000'}]">AM I RED?</div>
      <input type="range" min="1" max="100" v-model="contador">
      <div v-bind:style= "[contador<=1 ? {'color':'#A9A9A9'} : {'color':'#000000'}]"">YES!</div>
      <p>{{contador}}</p>
  </div>`,
});

console.log(vm.$data.contador);

</script>
</body>
</html>
