<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js" charset="UTF-8"></script>

    <title>problema7</title>
</head>
<body>

  <h1>problema7</h1>

<div id="app">

  <!--No se ve en el navegador, eta definido en el template-->
  <p>{{mensaje0}}</p>

</div>

<script>
var vm = new Vue({
  el: '#app',

  data : {
    mensaje0 : 'html',
    mensaje1 : 'template',
    check : false,
    a : false,
    b : false,
    c : false,
    d : false,
  },

  watch : {
    check : function(){
      this.a = !this.a
      this.b = !this.b
      this.c = !this.c
      this.d = !this.d
    },
  },


  template :
  `<div>
      <input type="checkbox" v-model="check" >{{a}} {{b}} {{c}} {{d}}
      <p>{{check}}</p>
  </div>`,
});



</script>
</body>
</html>
