<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js" charset="UTF-8"></script>

    <title>problema8</title>
</head>
<body>

  <h1>problema8</h1>

<div id="app">

  <!--No se ve en el navegador, eta definido en el template-->
  <p>{{mensaje0}}</p>

</div>

<script>
var vm = new Vue({
  el: '#app',

  data : {
    mensaje0 : 'html',
    mensaje1 : 'template',
    list : [
            { name: 'Jaime Sommers', phone: '311-555-2368' },
            { name: 'Ghostbusters', phone: '555-2368' },
            { name: 'Mr. Plow', phone: '636-555-3226' },
            { name: 'Gene Parmesan: Private Eye', phone: '555-0113' },
            { name: 'The A-Team', phone: '555-6162' },
            ]
  },

  template :
  `<div>
    <table>
      <tr>
        <th>Name</th>
        <th>Phone number</th>
      </tr>
      <tr v-for="item in list" >
        <td >{{item.name}}</td>
        <td>{{item.phone}}</td>
      </tr>
    </table>
  </div>`,
});

</script>
<style>
  table { border-collapse: collapse; }
  table th,td { border: 1px solid black; }
</style>
</body>
</html>
