<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="vue.js" charset="UTF-8"></script>

    <title>problema9</title>
</head>
<body>

  <h1>problema9</h1>

<div id="app">

  <!--No se ve en el navegador, eta definido en el template-->
  <p>{{mensaje0}}</p>

</div>

<script>
var vm = new Vue({
  el: '#app',

  data : {
    mensaje0 : 'html',
    mensaje1 : 'template',
    state : 0,
  },
  computed : {
    div1 () {
      return this.state == 2? 'red':'indianRed'
    },
    div2 () {
      return this.state == 1? 'yellow':'khaki'
    },
    div3 () {
      return this.state == 3? 'lawngreen':'seagreen'
    },
  },
  methods : {
    change : function (){
      console.log(this.div1,this.div2,this.div3)
      this.state >= 3? this.state = 0:this.state++
    }
  },

  template :
  `<div>
  <div style="display: inline-block; width:30px;">
<div style="height:30px" :style="{'background-color':div1}"></div>
<div :style="{'height':'30px','background-color':div2}"></div>
<div :style="{'height':'30px','background-color':div3}"></div>
      <button type="button" @click="change">Switch</button>
    </div>
  </div>`,
});

// <div :style="{'height':'30px','background-color':'indianRed'}"></div>
// <div v-bind:style= "[contador>70 ? {'color':'#DC143C'} : {'color':'#000000'}]">AM I RED?</div>

</script>



</body>
</html>
