<template>
  <div>
    <b-container class="mt-3"> <!--start container Responsive-->
    <!-- fila 1--> 
    <b-row>
      <!---colummna 1-->
      <b-col cols="12" md="6" lg="4"> 
      <b-card
        title="Card Title"
        img-src="https://picsum.photos/600/300/?image=25"
        img-alt="Image"
        img-top
        tag="article"
        style="max-width: 20rem;"
        class="mb-2"
      >
        <b-card-text>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, dolores repellat debitis quae 
          voluptatem expedita ut praesentium ex ea optio, corporis quod. Ad illum quisquam sint commodi excepturi! Ipsa, laudantium.
        </b-card-text>

        <b-button href="#" variant="primary">Go to page</b-button>
      </b-card>
      </b-col> 
      <!---colummna 2-->
      <b-col cols="12" md="6" lg="4"> 
      <b-card
        title="Card Title"
        img-src="https://picsum.photos/600/300/?image=25"
        img-alt="Image"
        img-top
        tag="article"
        style="max-width: 20rem;"
        class="mb-2"
      >
        <b-card-text>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, dolores repellat debitis quae 
          voluptatem expedita ut praesentium ex ea optio, corporis quod. Ad illum quisquam sint commodi excepturi! Ipsa, laudantium.
        </b-card-text>

        <b-button href="#" variant="primary">Go to page</b-button>
      </b-card>
      </b-col> 
      <!---colummna 3-->
      <b-col cols="12" md="6" lg="4"> 
      <b-card
        title="Card Title"
        img-src="https://picsum.photos/600/300/?image=25"
        img-alt="Image"
        img-top
        tag="article"
        style="max-width: 20rem;"
        class="mb-2"
      >
        <b-card-text>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, dolores repellat debitis quae 
          voluptatem expedita ut praesentium ex ea optio, corporis quod. Ad illum quisquam sint commodi excepturi! Ipsa, laudantium.
        </b-card-text>

        <b-button href="#" variant="primary">Go to page</b-button>
      </b-card>
      </b-col> 


    </b-row>

    <!-- fila 2--> 
    <b-row>
      <b-card
        title="Card Title"
        img-src="https://picsum.photos/600/300/?image=25"
        img-alt="Image"
        img-top
        tag="article"
        style="max-width: 20rem;"
        class="mb-2"
      >
        <b-card-text>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, dolores repellat debitis quae 
          voluptatem expedita ut praesentium ex ea optio, corporis quod. Ad illum quisquam sint commodi excepturi! Ipsa, laudantium.
        </b-card-text>

        <b-button href="#" variant="primary">Go to page</b-button>
      </b-card>
    </b-row>
    
    </b-container> <!--finish container-->
  </div>
</template>

<script>
export default {
  name : 'Card'

}
</script>

<style>

</style>