<template>
  <div >
  
  <b-container class="mt-3"> <!--start container-->
  <h1>Formularios</h1>
    <h2>Inputs</h2>

  <!-- fila 1-->   
    <b-row>
        
           <!-- columna 1-->   
            <b-col cols="12" md="6" lg="4"> 
            
            <b-form >  

            <label for="input-live">Introduce texto</label>
            <b-form-input 
            type="text"
            v-model="text"
            size="sm"
            :state="check"
            ></b-form-input >

            <small> Maximo 5 caracteres</small>
            
            <p class="mt-3 mb-0">{{ text }}</p>

            </b-form>
            
            </b-col >

            <!-- columna 2-->   
            <b-col cols="12" md="6" lg="4"> 
            
        
            <b-form-input id="range-1" v-model="value" type="range" min="0" max="10"></b-form-input>
            <div class="mt-2">Value: {{ value }}</div>

           
            
            </b-col >

            <!-- columna 2-->   
            <b-col cols="12" md="6" lg="4"> 
            
                <b-form-input list="my-list-id"></b-form-input>

                <datalist id="my-list-id">
                    <option>Selecciona un color</option>
                    <option v-for="item in list" :key="item">{{ item }}</option>
                </datalist>
            
            
            </b-col >
        
        
    </b-row>
  </b-container> <!--finish container-->
  </div>
</template>

<script>
export default {
    data() {
      return {
        text: '',
        value: '',
        list: ['azul','amarillo','verde','rojo']
      }
    },

    computed : {
        check (){
            return this.text.length > 6 ? false:true;
        }
    }

}
</script>

<style>

</style>