<template>
  <div>
    <h1>fotos</h1>
    <router-link :to="{name : 'foticos', params : {id : foto}}" 
    v-for="(foto,index) of fotografias" :key="index">
      <button>{{foto}}</button>

    </router-link>

    <Foto></Foto>

    <button @click="previous">PREVIOUS</button>
    <button @click="home">HOME</button>
    <button @click="next">NEXT</button>
  </div>
  
</template>

<script>

import Foto from "@/components/Foto.vue";

export default {
    components: {
      Foto,
    },
    data() {
      return {
        fotografias :[1,2,3,4,5]
      }
    },
    methods: {
        home: function() {
          this.$router.push("/");
        },
        next(){
          this.$router.go(1);
        },
        previous(){
          this.$router.go(-1);
        }

    },
}
</script>

<style>

</style>