<template>
  <!-- RESPONSIVE - GRID necesita de un container-->
  <b-container class="mt-3"> <!--start container-->

  <!-- con b-row indica el numero de FILAS que quieras utilizar -->
  <!-- fila 1-->   
  <b-row>

    <!-- La herencia va de pequeño a grande -->
    <!-- COL 12 LA MAS PEQUEÑA (PANTALLA DE MOVIL O REDUCIDA A MAS DE LA MITAD) -->  
    <!-- MD MEDIANA (PANTALLA TABLET O REDUCIDA A LA MITAD)-->  
    <!-- LG LA MAS GRANDE (PANTALLA COMPLETA) --> 
    <!-- probar cambiando el tamaño de la pantalla con el f12 o reduciendola con el raton -->  

    <!-- columna 1-->     
    <b-col cols="12" md="6" lg="4"> 
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, facilis, perspiciatis impedit corporis 
            repudiandae non accusantium molestias, aliquam quam voluptates dolorum cum a fugiat similique in suscipit 
            reprehenderit eius eum!
        </p>
    </b-col>

    <!-- columna 2-->   
    <b-col cols="12" md="6" lg="8">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, facilis, perspiciatis impedit corporis 
            repudiandae non accusantium molestias, aliquam quam voluptates dolorum cum a fugiat similique in suscipit 
            reprehenderit eius eum!
        </p>  
    </b-col>

  </b-row>

  <!-- fila 2-->  
  <b-row>

    <b-col cols="4">col-4</b-col>

  </b-row>

</b-container> <!--finish container-->
</template>

<script>
export default {
    
    name: 'grid',
  

}
</script>

<style>

</style>