{{> head}}
{{> navbar}}

<div class="row">

    <div class="col-8">
        <h1>sdasda  </h1>
    </div>

    <div>
        <img src="assets/img/1.jpg" class="img-thumbnail rounded">
    </div>

</div>

{{> footer}}