<template>
  <div id="app">

    <!--toggleable responsive = P.e medium, variant color-->
    <b-navbar toggleable="md" type="dark" variant="success"> <!--start b-navbar-->

      <!--genera un div con la class container-->
      <!-- Layout and Grid System dentro siempre de un container-->
      <b-container> <!--start container-->

        <b-navbar-brand :to="{name:'home'}">App</b-navbar-brand>
        <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        <!-- collapse elementos ocultos, ver b-navbar-toggle target="nav-collapse" que contiene el boton -->
        <b-collapse id="nav-collapse" is-nav>

          <b-navbar-nav>
            <!--b-nav-item el href="#" es = a router-link :to="{name:'del objecto name el index router'}"-->
            <b-nav-item :to="{name:'home'}" exact>Home</b-nav-item>
            <b-nav-item :to="{name:'grid'}" exact>Responsive</b-nav-item>
            <b-nav-item :to="{name:'about'}">About</b-nav-item>
            <b-nav-item :to="{name:'servicios'}">Servicios</b-nav-item>
            <b-nav-item :to="{name:'card'}">Cards</b-nav-item>
            <b-nav-item :to="{name:'formulario'}">Form</b-nav-item>
            <b-nav-item :to="{name:'fotos/1'}">Fotos</b-nav-item>
          </b-navbar-nav>

        </b-collapse>

      </b-container> <!--finish container-->

    </b-navbar> <!--finish b-navbar-->
    
    <!-- AQUI en el router-view VA EL CONTENIDO DE CADA COMPONENTE DE LAS VISTAS /views-->
    <router-view/>
    
  </div>
</template>

