<template>
  <div class="text-center">
    <img alt="Vue logo" src="@/assets/logo.png" />
    <h1>Hello desde template Cabecera</h1>
  </div>
</template>

<script>
export default {
  name: "CabeceraVue"
};
</script>

<style>
</style>