<template>
  <div>
    <ul class="list-group">
      <li v-for="(item,index) in ordena" :key="item.id" @click="aumentar(index)"
      class="list-group-item d-flex justify-content-between align-items-center"
      >
        {{item.nombre}}
        <span class="badge badge-primary badge-pill">
            {{item.qt}}
        </span>
      </li>
    </ul>

<div class="pt-2">
    <button @click="reset" type="button" class="btn btn-primary">Reiniciar</button>
</div>
    

  </div>
  
</template>

<script>

import { mapState,mapMutations } from "vuex";

export default {
  name: "Lista",
  computed: {
    ...mapState(['frutas']),
    ordena(){
        return this.frutas.slice(0).sort((a,b) => b.qt - a.qt);
    } 
  },
  methods : {
    ...mapMutations(['aumentar','reset'])
  }
};
</script>

<style>
</style>