<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />

    <title>vuejs</title>
  </head>

  <body>
    <!--mt = margin top-->
    <div id="app" class="container mt-5 text-center">
      <div>
        <h3>{{h3}}</h3>
      </div>

      <div class="input-group input-group-sm mb-3">
        <input
          type="text"
          v-model="textoInput"
          class="form-control"
          aria-label="Sizing example input"
          aria-describedby="inputGroup-sizing-sm"
        />
        <!-- Boton dentro del input-->
        <!--<a href="#" @click="agregarItem" class="btn btn-primary btn-sm"
          >Agregar</a 
        >-->
      </div>

      <button
        type="button"
        @keyup.enter="agregarItem"
        @click="agregarItem"
        class="btn btn-primary mb-3"
      >
        Agregar
      </button>

      <div
        class="alert alert-primary d-flex d-flex justify-content-between"
        role="alert"
        v-for="(itemInput, index) of listInputs"
        :class="{'alert-danger': !itemInput.estado, 'alert-primary': itemInput.estado}"
      >
        {{index}} .- {{itemInput.nombre}} - {{itemInput.estado}}

        <div>
          <!-- se puede usar java script puro @click="itemInput.estado = !itemInput.estado" -->
          <button class="btn btn-success" @click="cambiarEstado(index)">
            change
          </button>
          <button class="btn btn-danger" @click="deleteItem (index)">
            delete
          </button>
        </div>
      </div>
    </div>

    <!-- version desarrollo CDN vuejs, For prototyping or learning purposes, you can use the latest version with-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="avanzado.js"></script>
  </body>
</html>
