<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- MATERIALIZE -->
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="css/materialize.min.css"
      media="screen,projection"
    />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>

    <title>vuejs</title>
  </head>

  <body>
    <!-- LOS CONTAINERS SON COMPONENTES COMO SERAN ENVUELTOS EN VUEJS = DIVS = app por ejemplo -->
    <div id="app" class="container">
      <!-- Page Content goes here -->

      <!-- se llama a los objectos creados por vuejs dentro del tag html que deamos con doble llave{{propiedad declarada en data}}-->
      <h1>{{titulo}}</h1>

      <div>
        <h3>
          {{h3_0}}
        </h3>
      </div>

      <!--V-MODEL="app.propiedad", permite conexion directa entre el html y JS -->
      <!--@keyup.<funcion del teclado para dar enter o espacio o scape> = 'funcion o metodo a llamar'-->
      <input type="text" v-model="nuevoItem" @keyup.enter="agregarItem" />

      <!-- Eventos VUEJS asi v-on:click="nombreMetodo" o @click="nombreMetodo"-->
      <a class="waves-effect waves-light btn" v-on:click="agregarItem"
        >Agregar a ItemsLista
      </a>

      <!-- Eventos VUEJS asi v-on:click="nombreMetodo" o @click="nombreMetodo"-->
      <a class="waves-effect waves-light btn" @click="agregarOtroItem"
        >Agregar a ItemsObjectos
      </a>

      <p>Lista</p>
      <ul class="collection">
        <!-- FOR de ARRAYS elementos iterativos html de vuejs arrays aux de list, imprimos la lista {{}}-->
        <li class="collection-item" v-for="item of items">
          {{item}}
        </li>
      </ul>
      <ul>
        <p>Lista de Objetos</p>
        <p>Si la cantidad es menor a 2 mostrara un mensaje</p>
        <!-- FOR de objectos -->
        <li v-for="objecto of objectos">
          {{objecto.nombre}}

          <!--v-model.<tipo de dato>-->
          <input type="number" v-model.number="objecto.cantidad" />

          <!-- Generar incremento o decremento en una propiedad-->
          <button @click="objecto.cantidad++">+</button>
          <button @click="objecto.cantidad--">-</button>

          <!-- IF solo se imprime si esta dentro de la condicion -->
          <span v-if="objecto.cantidad <= 1 ">
            - No hay mas STOCK
          </span>
        </li>
      </ul>

      <blockquote>
        {{text0}} : {{sumarCantidades}}
      </blockquote>

      <div>
        <h3>
          {{h3_1}}
        </h3>
      </div>
      <div>
        <p>Escribir una frase :</p>
        <input type="text" v-model="frase" />
        <p>Frase invertida : {{invertirFrase}}</p>
      </div>

      <div>
        <div>
            <p>
                Barra de progreso o Linear en MATERIALIZE
            </p>
        </div>

        <div>
            <p>Progreso : {{contador}}</p>
            <a class="waves-effect waves-light btn" v-on:click="contador++">+</a>
            <a class="waves-effect waves-light btn" v-on:click="contador--">-</a>
        </div> 

        <div class="progress">
            <!-- en VUEJS tambien se puede solo trabajar con la propiedad de :style={'propiedad CSS': propiedad VUEJS data}-->
            <div class="determinate" v-bind:style="{'width': contador+'%'}" >
            </div>
        </div>
      </div>

    </div>


    <!-- version desarrollo CDN vuejs, For prototyping or learning purposes, you can use the latest version with-->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="basico.js"></script>
  </body>
</html>
