<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- MATERIALIZE -->
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="css/materialize.min.css" media="screen,projection"
    />
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="js/materialize.min.js"></script>


    <title>vuejs</title>

</head>

<body>

    <div class="container mt-5"  id='app'>

        <div>
            <h3>
                {{h3_0}}
            </h3>
            
        </div>

        <div>
            <p>Controlar CSS por JS P.e el fondo aplicado al texto de abajo CSS-bootstrap, podemos poner bg-dark</p>
            <!-- v-model, nos permite modificar el data de .js-->
            <input type="text" class="form-control" v-model='fondo'> 
         
            <!-- Controlar las Clases de bootstrap con vuejs como  :class="['clase1','clase2','clase-n']" 
            ['fondo',fondo] sin comillas es dinamico y viene del .js, con comillas es bootstrap-->
            <p :class="['border','text-white',fondo]">
                Las ideas esenciales que comunica un texto están contenidas en lo que se suele denominar 
                «macroproposiciones», unidades estructurales 
                de nivel superior o global, que otorgan coherencia al texto constituyendo su hilo central, 
                el esqueleto estructural que cohesiona elementos lingüísticos formales de alto nivel, 
                como los títulos y subtítulos, la secuencia de párrafos, etc. En contraste, las 
                «microproposiciones» son los elementos coadyuvantes de la cohesión de un texto, 
                pero a nivel más particular o local. Esta distinción fue realizada por Teun van 
                Dijk en 1980.1​
            </p>  
        </div>

        <div>
            <p>Controlar condicionales del CSS</p>


            <p>Controlar CSS por JS P.e por condicionales color=true o !color=false, por tanto si 
                cambiamos el valor de color a true, nos cambiara el fondo o usar el boton cambiar que ya 
                lo hara por nosotros en .js
            </p>
            <!-- v-model, nos permite modificar el data de .js-->
            <input type="text" class="form-control" v-model='color'> 
            <button type="button" class="btn btn-primary" @click="color = !color">Cambiar</button>

            <!-- Controlar condicionales desde js para CSS :class="{'Hace esto si':'propiedad=true'}"
            sin comillas es dinamico y viene del .js, con comillas es bootstrap-->
            <p class="border p-3" :class="{'bg-info': color,'bg-success':!color}" >
                Las ideas esenciales que comunica un texto están contenidas en lo que se suele denominar 
                «macroproposiciones», unidades estructurales 
                de nivel superior o global, que otorgan coherencia al texto constituyendo su hilo central, 
                el esqueleto estructural que cohesiona elementos lingüísticos formales de alto nivel, 
                como los títulos y subtítulos, la secuencia de párrafos, etc. En contraste, las 
                «microproposiciones» son los elementos coadyuvantes de la cohesión de un texto, 
                pero a nivel más particular o local. Esta distinción fue realizada por Teun van 
                Dijk en 1980.1​
            </p> 
        </div>

        <hr/><hr/>

        <div>
            <h3>
                {{h3_1}}   
            </h3>
            
            <!-- EL COMPONENTE SALUDO DEBE ESTAR DENTRO DEL DIV y el ID = APP -->
            <!-- ver sus propiedades en el JS -->

            <saludo></saludo>

            <contador></contador>

        </div>

        <hr/><hr/>

        <div>
            <h3>
                {{h3_2}}   
            </h3>
            
            <!-- EL COMPONENTE SALUDO DEBE ESTAR DENTRO DEL DIV y el ID = APP -->
            <!-- ver sus propiedades en el JS -->
            <p> Si le damos al boton +, veremos la comunicacion entre un componente padre a hijo o comunicacion propiamente de componentes</p>
            <dad></dad>

        </div>


    </div>

    

    <!-- version desarrollo CDN vuejs, For prototyping or learning purposes, you can use the latest version with-->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="componetes/saludo.js"></script>
<script src="componetes/contador.js"></script>
<script src="componetes/dad.js"></script>
<script src="componetes/son.js"></script>
<script src="medio.js"></script>

    
</body>
</html>