<template>
  <div id="app" class="container">
    <cabecera-vue></cabecera-vue>
    <lista></lista>
  </div>
</template>

<script>
import CabeceraVue from "./components/CabeceraVue.vue";
import Lista from "./components/Lista.vue";

export default {
  name: "app",
  components: {
    CabeceraVue,
    Lista
  }
};
</script>

